campaignDeepClone/force-app/main/default/flows/Campaign_Deep_Clone_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Clone_Campaigns</name>
        <label>Clone Campaigns</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <actionName>CampaignDeepCloner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Number_of_Cloned_Campaigns</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>endDate</name>
            <value>
                <elementReference>Date_Campaign_End_Date_Input</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>originalCampaigns</name>
            <value>
                <elementReference>lstAllOriginalCampaigns</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDate</name>
            <value>
                <elementReference>Date_Campaign_Start_Date_Input</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstClonedCampaigns</assignToReference>
            <name>clonedCampaigns</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Quaternary_Campaigns</name>
        <label>Get Quaternary Campaigns</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <actionName>CampaignDeepCloneController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Quaternary_Campaigns_Inits</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>parentCampaigns</name>
            <value>
                <elementReference>lstTertiaryCampaigns</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstQuaternaryCampaigns</assignToReference>
            <name>childCampaigns</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Tertiary_Campaigns_Apex</name>
        <label>Get Tertiary Campaigns Apex</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>CampaignDeepCloneController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Tertiary_Campaigns_Inits</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>parentCampaigns</name>
            <value>
                <elementReference>Get_Secondary_Campaigns</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>lstTertiaryCampaigns</assignToReference>
            <name>childCampaigns</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_All_Campaigns_to_Original_Campaign_List</name>
        <label>Add All Campaigns to Original Campaign List</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>lstAllOriginalCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Primary_Campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstAllOriginalCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Secondary_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstAllOriginalCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lstTertiaryCampaigns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lstAllOriginalCampaigns</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lstQuaternaryCampaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Campaigns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Date_Range_Variables</name>
        <label>Set Date Range Variables</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>dateCampaignStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Campaign_Start_Date_Input</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dateCampaignEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Campaign_End_Date_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_All_Campaigns_to_Original_Campaign_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Number_of_Cloned_Campaigns</name>
        <label>Set Number of Cloned Campaigns</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>intNumberOfClonedCampaigns</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>lstClonedCampaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quaternary_Campaigns_Inits</name>
        <label>Set Quaternary Campaigns Inits</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>intNumberOfQuaternaryCampaigns</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>lstQuaternaryCampaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Details_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Secondary_Campaign_Inits</name>
        <label>Set Secondary Campaign Inits</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>intNumberOfSecondaryCampaigns</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Secondary_Campaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Size_of_Secondary_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Tertiary_Campaigns_Inits</name>
        <label>Set Tertiary Campaigns Inits</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>intNumberOfTertiaryCampaigns</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>lstTertiaryCampaigns</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Size_of_Tertiary_List</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choiceAddOneYear</name>
        <choiceText>Keep all ranges the same, one year later</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choiceAddOneYear</stringValue>
        </value>
    </choices>
    <choices>
        <name>choiceSetCustomDateRange</name>
        <choiceText>Set a custom date range for the new campaigns</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>choiceSetCustomDateRange</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Date_Range_Transform_Type</name>
        <label>Check Date Range Transform Type</label>
        <locationX>182</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Add_All_Campaigns_to_Original_Campaign_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Add One Year</defaultConnectorLabel>
        <rules>
            <name>Set_Custom_Date_Range</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Date_Transform_Type_Input</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choiceSetCustomDateRange</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Custom_Date_Range_Screen</targetReference>
            </connector>
            <label>Set Custom Date Range</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Get_Primary_Campaign</name>
        <label>Check Get Primary Campaign</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_recordId_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary Campaign Not Found</defaultConnectorLabel>
        <rules>
            <name>Got_Primary_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Campaign</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Welcome_Screen</targetReference>
            </connector>
            <label>Got Primary Campaign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Size_of_Secondary_List</name>
        <label>Check Size of Secondary List</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Set_Tertiary_Campaigns_Inits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Secondary Campaigns</defaultConnectorLabel>
        <rules>
            <name>Has_Secondary_Campaigns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intNumberOfSecondaryCampaigns</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tertiary_Campaigns_Apex</targetReference>
            </connector>
            <label>Has Secondary Campaigns</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Size_of_Tertiary_List</name>
        <label>Check Size of Tertiary List</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Set_Quaternary_Campaigns_Inits</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Tertiary Campaigns</defaultConnectorLabel>
        <rules>
            <name>Has_Tertiary_Campaigns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intNumberOfTertiaryCampaigns</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quaternary_Campaigns</targetReference>
            </connector>
            <label>Has Tertiary Campaigns</label>
        </rules>
    </decisions>
    <interviewLabel>Campaign Deep Clone Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign Deep Clone Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Primary_Campaign</name>
        <label>Get Primary Campaign</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Get_Primary_Campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Secondary_Campaigns</name>
        <label>Get Secondary Campaigns</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Secondary_Campaign_Inits</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Primary_Campaign.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Confirmation_Screen_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Success! &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Number of Campaigns cloned: &lt;/span&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;{!intNumberOfClonedCampaigns}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_recordId_Screen</name>
        <label>Error recordId Screen</label>
        <locationX>490</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_recordId_Screen_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Hmm... something went wrong.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Couldn&apos;t identify the current Campaign record. Refresh the page and try again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Details_Screen</name>
        <label>Review Details Screen</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Date_Range_Transform_Type</targetReference>
        </connector>
        <fields>
            <name>Review_Details_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Review_Details_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Details_Screen_Msg</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Number of campaigns being created:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Primary Campaigns: 1&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Secondary Campaigns: {!intNumberOfSecondaryCampaigns}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Tertiary Campaigns: {!intNumberOfTertiaryCampaigns}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Quaternary Campaigns: {!intNumberOfQuaternaryCampaigns}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Review_Details_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Details_Screen_Msg2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Date Range&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Radio_Date_Transform_Type_Input</name>
                    <choiceReferences>choiceAddOneYear</choiceReferences>
                    <choiceReferences>choiceSetCustomDateRange</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Date range for new campaigns</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Custom_Date_Range_Screen</name>
        <label>Set Custom Date Range Screen</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Date_Range_Variables</targetReference>
        </connector>
        <fields>
            <name>Set_Custom_Date_Range_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Custom_Date_Range_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Set_Custom_Date_Range_Screen_Msg</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Set custom date range for new campaigns&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Custom_Date_Range_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Campaign_Start_Date_Input</name>
                    <dataType>Date</dataType>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Date_Campaign_End_Date_Input</name>
                    <dataType>Date</dataType>
                    <fieldText>End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Secondary_Campaigns</targetReference>
        </connector>
        <fields>
            <name>Toggle_Clone_Hierarchy_Input</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Clone Child Campaigns</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Clone Current Campaign Only</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Primary_Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dateCampaignEndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dateCampaignStartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intNumberOfClonedCampaigns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>intNumberOfQuaternaryCampaigns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>intNumberOfSecondaryCampaigns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>intNumberOfTertiaryCampaigns</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>lstAllOriginalCampaigns</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>lstClonedCampaigns</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>lstQuaternaryCampaigns</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>lstSecondaryCampaignIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lstTertiaryCampaigns</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
